tpBiblio/biblio.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT biblio (etudiant+)>
<!ELEMENT etudiant (livre+) >
<!ELEMENT livre EMPTY >
<!ATTLIST etudiant
          code CDATA #REQUIRED
          nom CDATA #REQUIRED
          prenom CDATA #REQUIRED
          age CDATA #REQUIRED>
<!ATTLIST livre 
           id CDATA #REQUIRED
           titre CDATA #REQUIRED
           datePret CDATA #REQUIRED
           rendu (oui | non) "non">

